@using Bavarder.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Profile";
    var db = new ApplicationDbContext();
    var uid = User.Identity.GetUserId();
    var user = db.Users.Find(uid);
}

<link rel="stylesheet" href="~/plugins/modal-image.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<hr class="">
<div class="target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">@User.Identity.Name</h1>
            <br>
            <a class="btn btn-info" href="@Url.Action("UpdateProfile", "Home", new { uid = uid })"> Update Profile </a>
            <br />
        </div>
        <div class="col-sm-2">
            @if (user.UserPhoto != null)
            {
                <img title="profile image" id="profileImg" class="img-circle img-responsive" src="~/UploadedFiles/@Bavarder.Enums.UploadType.ProfileImage/@uid/@user.UserPhoto">
            }
            else
            {
                <img title="profile image" id="profileImg" class="img-circle img-responsive" src="~/Images/user.png">    
            }
                <div id="myModal" class="modal fade in">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <img class="modal-content" id="modalImg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-capitalize" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> <small>@user.DateJoined.ToString("dd MMMM yyyy")</small></li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="">Real name:</strong></span>
                    @if (user.MidName != null) { <small>@user.Surname @user.MidName @user.FirstName</small>}
                    else { <small>@user.Surname @user.FirstName</small> }
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="">Gender </strong></span> @user.Gender
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="">Born </strong></span> @user.DOB.ToString("dd MMMM")
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="">Nationality </strong></span> @user.Country
                </li>

                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="">Relationship </strong></span> 
                    @switch (user.Relationship)
                    {
                        case Bavarder.Enums.Relationship.Engaged:
                            <b>Engaged</b>
                            break;
                        case Bavarder.Enums.Relationship.InARelationship:
                            <b>In a relationship</b>
                            break;
                        case Bavarder.Enums.Relationship.ItsComplicated:
                            <b>It's complicated</b>  
                            break;
                        case Bavarder.Enums.Relationship.Married:
                            <b>Married</b>
                            break;
                        case Bavarder.Enums.Relationship.Single:
                            <b>Single</b>
                            break;        
                    }
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Website <i class="fa fa-link fa-1x"></i>
                </div>
                <div class="panel-body">
                    @if (user.Website != null){ <a href="@user.Website">@user.Website</a> }
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Contact Information</div>
                <div class="panel-body">
                    @if(user.Twitter != null){ <span><i class="fa fa-twitter info fa-2x" style="background-color:lightblue"></i> @user.Twitter</span><br /> }
                    @if (user.Snapchat != null){ <span><i class="fa fa-snapchat fa-2x" style="background-color:yellow"></i> @user.Snapchat</span><br /> }
                    @if (user.EmailVisible != null && user.EmailVisible == true && user.Email != null)
                    {  <span><i class="fa fa-envelope fa-2x"></i> @user.Email</span><br /> }
                    @if (user.PhoneVisible != null && user.PhoneVisible == true && user.PhoneNumber != null)
                    {  <span><i class="fa fa-phone fa-2x" style="background-color:green"></i> @user.PhoneNumber</span><br /> }                                            
                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Your Bio</div>
                <div class="panel-body">
                    <h2>@if (user.Bio != null){ @user.Bio }</h2>
                </div>
            </div>
        </div>
        <div id="push"></div> 
    </div> 
</div>
</div>
@section Scripts{
<script src="~/plugins/bootstrap-pager.js"></script>
<script src="~/plugins/modal-image.js"></script>
}